<div class="aaa-wishlist-grid" id="aaa_{{ product.id }}" data-product-id="{{ product.id }}"  data-handle="{{product.handle}}" data-customer-mail="{{customer.email}}" data-customer-id="{{ customer.id }}" data-variant-id="{{product.variants.first.id}}" ></div>
<i class="aaa-ask-the-wishlist-grid aaa-wish-tooltip" data-id="{{ product.id }}" id="aaa-hrt-{{ product.id }} hell" ><i></i><!--<span class="aaa-wish-tooltiptext" ></span>--></i>
<a href="javascript:;" class="aaa-wishlist-ask-advice" id="aaa_ask_ad_{{ product.id }}" data-handle="{{product.handle}}" style="display:none;"><i></i> Ask Advice</a>


{% if customer %}
<script>
$(document).ready(function(){
  $(".aaa-ask-the-wishlist-grid").click(function(){

    $(".aaa-ask-the-wishlist-grid i").toggleClass("fa fa-heart");
  });
});
    </script>
    {%endif%}