
<div class="new-this-week-sec">
  <h2 class="ntv-head">Featured</h2>
  <div class="parent-columnn">
      <ul class="column">
        <li>
          {% for block in section.blocks %}
          <a href="{{ block.settings.featured_link1 }}">{{ block.settings.Featured_text1 }}</a>
          {% endfor %} 
          </li>
        <li>
          {% for block in section.blocks %}
          <a href="{{ block.settings.featured_link2 }}">{{ block.settings.Featured_text2 }}</a>
           {% endfor %} 
          
          </li>
      </ul>
   </div>



      <h2 class="designer-title">Designers</h2>
  <ul class="alpha-area">
  <li><a class="a" href="#a">a</a></li>
  <li><a class="a b" href="#b">b</a></li>
  <li><a class="a c" href="#c">c</a></li>
   <li><a class="a d" href="#d">d</a></li>
  <li><a class="a e" href="#e">e</a></li>
 <li><a class="a f" href="#f"> f</a></li>
 <li><a class="a g" href="#g"> g</a></li>
 <li><a class="a h" href="#h"> h </a></li>
  <li><a class="a i" href="#i">i</a></li>
  <li><a class="a j" href="#j">j</a></li>
  <li><a class="a k" href="#k">k</a></li>
  <li><a class="a l" href="#l">l</a></li>
  <li><a class="a m" href="#m">m</a></li>
  <li><a class="a n" href="#n">n</a></li>
  <li><a class="a o" href="#o">o</a></li>
  <li><a class="a p" href="#p">p</a></li>
  <li><a class="a q" href="#q">q</a></li>
  <li><a class="a r" href="#r">r</a></li>
  <li><a class="a s" href="#s">s</a></li>
  <li><a class="a t" href="#t">t</a></li>
  <li><a class="a u" href="#u">u</a></li>
  <li><a class="a v" href="#v">v</a></li>
  <li><a class="a w" href="#w">w</a></li>
  <li><a class="a x" href="#x">x</a></li>
  <li><a class="a y" href="#y">y</a></li>
  <li><a class="a z" href="#z">z</a></li>
  </ul>
  <button class="accordion" id="a">a <span></span></button>
 
<div class="panel aa" style="display:block";>
  <ul class="column">
         <li>
                  {% for block in section.blocks %}
          <a href="{{ block.settings.designer_linka1 }}">{{ block.settings.designer_texta1 }}</a>
           {% endfor %}          
    </li>
        <li>
                    {% for block in section.blocks %}
          <a href="{{ block.settings.designer_linka2 }}">{{ block.settings.designer_texta2 }}</a>
           {% endfor %} 
          </li>
    <li>
          {% for block in section.blocks %}
          <a href="{{ block.settings.designer_linka3 }}">{{ block.settings.designer_texta3 }}</a>
           {% endfor %} 
          </li>
     <li>
          {% for block in section.blocks %}
          <a href="{{ block.settings.designer_linka4 }}">{{ block.settings.designer_texta4 }}</a>
           {% endfor %} 
          </li>
      </ul>
</div>

  <button class="accordion"  id="b">b <span></span></button>
<div class="panel bb">
<ul class="column">
         <li>
                  {% for block in section.blocks %}
          <a href="{{ block.settings.designer_linkb1 }}">{{ block.settings.designer_textb1 }}</a>
           {% endfor %}          
    </li>
        <li>
                    {% for block in section.blocks %}
          <a href="{{ block.settings.designer_linkb2 }}">{{ block.settings.designer_textb2 }}</a>
           {% endfor %} 
          </li>
    <li>
          {% for block in section.blocks %}
          <a href="{{ block.settings.designer_linkb3 }}">{{ block.settings.designer_textb3 }}</a>
           {% endfor %} 
          </li>
     <li>
          {% for block in section.blocks %}
          <a href="{{ block.settings.designer_linkb4 }}">{{ block.settings.designer_textb4 }}</a>
           {% endfor %} 
          </li>
      </ul>
  </div>

  <button class="accordion" id="c">c <span></span></button>
<div class="panel cc">
  <ul class="column">
         <li>
                  {% for block in section.blocks %}
          <a href="{{ block.settings.designer_linkc1 }}">{{ block.settings.designer_textc1 }}</a>
           {% endfor %}          
    </li>
        <li>
                    {% for block in section.blocks %}
          <a href="{{ block.settings.designer_linkc2 }}">{{ block.settings.designer_textc2 }}</a>
           {% endfor %} 
          </li>
    <li>
          {% for block in section.blocks %}
          <a href="{{ block.settings.designer_linkc3 }}">{{ block.settings.designer_textc3 }}</a>
           {% endfor %} 
          </li>
     <li>
          {% for block in section.blocks %}
          <a href="{{ block.settings.designer_linkc4 }}">{{ block.settings.designer_textc4 }}</a>
           {% endfor %} 
          </li>
      </ul>
</div>

 <button class="accordion" id="d">d <span></span></button>
<div class="panel dd">
  <ul class="column">
         <li>
                  {% for block in section.blocks %}
          <a href="{{ block.settings.designer_linkd1 }}">{{ block.settings.designer_textd1 }}</a>
           {% endfor %}          
    </li>
        <li>
                    {% for block in section.blocks %}
          <a href="{{ block.settings.designer_linkd2 }}">{{ block.settings.designer_textd2 }}</a>
           {% endfor %} 
          </li>
    <li>
          {% for block in section.blocks %}
          <a href="{{ block.settings.designer_linkd3 }}">{{ block.settings.designer_textd3 }}</a>
           {% endfor %} 
          </li>
     <li>
          {% for block in section.blocks %}
          <a href="{{ block.settings.designer_linkd4 }}">{{ block.settings.designer_textd4 }}</a>
           {% endfor %} 
          </li>
      </ul>
</div>
<button class="accordion" id="e">e <span></span></button>
<div class="panel ee">
  <ul class="column">
         <li>
                  {% for block in section.blocks %}
          <a href="{{ block.settings.designer_linke1 }}">{{ block.settings.designer_texte1 }}</a>
           {% endfor %}          
    </li>
        <li>
                    {% for block in section.blocks %}
          <a href="{{ block.settings.designer_linke2 }}">{{ block.settings.designer_texte2 }}</a>
           {% endfor %} 
          </li>
    <li>
          {% for block in section.blocks %}
          <a href="{{ block.settings.designer_linke3 }}">{{ block.settings.designer_texte3 }}</a>
           {% endfor %} 
          </li>
     <li>
          {% for block in section.blocks %}
          <a href="{{ block.settings.designer_linke4 }}">{{ block.settings.designer_texte4 }}</a>
           {% endfor %} 
          </li>
      </ul>
</div>
<button class="accordion" id="f">f <span></span></button>
<div class="panel ff">
  <ul class="column">
         <li>
                  {% for block in section.blocks %}
          <a href="{{ block.settings.designer_linkf1 }}">{{ block.settings.designer_textf1 }}</a>
           {% endfor %}          
    </li>
        <li>
                    {% for block in section.blocks %}
          <a href="{{ block.settings.designer_linkf2 }}">{{ block.settings.designer_textf2 }}</a>
           {% endfor %} 
          </li>
    <li>
          {% for block in section.blocks %}
          <a href="{{ block.settings.designer_linkf3 }}">{{ block.settings.designer_textf3 }}</a>
           {% endfor %} 
          </li>
     <li>
          {% for block in section.blocks %}
          <a href="{{ block.settings.designer_linkf4 }}">{{ block.settings.designer_textf4 }}</a>
           {% endfor %} 
          </li>
      </ul>
</div>
<button class="accordion" id="g">g <span></span></button>
<div class="panel gg">
  <ul class="column">
         <li>
                  {% for block in section.blocks %}
          <a href="{{ block.settings.designer_linkg1 }}">{{ block.settings.designer_textg1 }}</a>
           {% endfor %}          
    </li>
        <li>
                    {% for block in section.blocks %}
          <a href="{{ block.settings.designer_linkg2 }}">{{ block.settings.designer_textg2 }}</a>
           {% endfor %} 
          </li>
    <li>
          {% for block in section.blocks %}
          <a href="{{ block.settings.designer_linkg3 }}">{{ block.settings.designer_textg3 }}</a>
           {% endfor %} 
          </li>
     <li>
          {% for block in section.blocks %}
          <a href="{{ block.settings.designer_linkg4 }}">{{ block.settings.designer_textg4 }}</a>
           {% endfor %} 
          </li>
      </ul>
</div>
<button class="accordion" id="h">h <span></span></button>
<div class="panel hh">
  <ul class="column">
         <li>
                  {% for block in section.blocks %}
          <a href="{{ block.settings.designer_linkh1 }}">{{ block.settings.designer_texth1 }}</a>
           {% endfor %}          
    </li>
        <li>
                    {% for block in section.blocks %}
          <a href="{{ block.settings.designer_linkh2 }}">{{ block.settings.designer_texth2 }}</a>
           {% endfor %} 
          </li>
    <li>
          {% for block in section.blocks %}
          <a href="{{ block.settings.designer_linkh3 }}">{{ block.settings.designer_texth3 }}</a>
           {% endfor %} 
          </li>
     <li>
          {% for block in section.blocks %}
          <a href="{{ block.settings.designer_linkh4 }}">{{ block.settings.designer_texth4 }}</a>
           {% endfor %} 
          </li>
      </ul>
</div>
<button class="accordion" id="i">i <span></span></button>
<div class="panel ii">
  <ul class="column">
         <li>
                  {% for block in section.blocks %}
          <a href="{{ block.settings.designer_linki1 }}">{{ block.settings.designer_texti1 }}</a>
           {% endfor %}          
    </li>
        <li>
                    {% for block in section.blocks %}
          <a href="{{ block.settings.designer_linki2 }}">{{ block.settings.designer_texti2 }}</a>
           {% endfor %} 
          </li>
    <li>
          {% for block in section.blocks %}
          <a href="{{ block.settings.designer_linki3 }}">{{ block.settings.designer_texti3 }}</a>
           {% endfor %} 
          </li>
     <li>
          {% for block in section.blocks %}
          <a href="{{ block.settings.designer_linki4 }}">{{ block.settings.designer_texti4 }}</a>
           {% endfor %} 
          </li>
      </ul>
</div>
<button class="accordion" id="j">j <span></span></button>
<div class="panel jj">
  <ul class="column">
         <li>
                  {% for block in section.blocks %}
          <a href="{{ block.settings.designer_linkj1 }}">{{ block.settings.designer_textj1 }}</a>
           {% endfor %}          
    </li>
        <li>
                    {% for block in section.blocks %}
          <a href="{{ block.settings.designer_linkj2 }}">{{ block.settings.designer_textj2 }}</a>
           {% endfor %} 
          </li>
    <li>
          {% for block in section.blocks %}
          <a href="{{ block.settings.designer_linkj3 }}">{{ block.settings.designer_textj3 }}</a>
           {% endfor %} 
          </li>
     <li>
          {% for block in section.blocks %}
          <a href="{{ block.settings.designer_linkj4 }}">{{ block.settings.designer_textj4 }}</a>
           {% endfor %} 
          </li>
      </ul>
</div>
<button class="accordion" id="k">k <span></span></button>
<div class="panel kk">
  <ul class="column">
         <li>
                  {% for block in section.blocks %}
          <a href="{{ block.settings.designer_linkk1 }}">{{ block.settings.designer_textk1 }}</a>
           {% endfor %}          
    </li>
        <li>
                    {% for block in section.blocks %}
          <a href="{{ block.settings.designer_linkk2 }}">{{ block.settings.designer_textk2 }}</a>
           {% endfor %} 
          </li>
    <li>
          {% for block in section.blocks %}
          <a href="{{ block.settings.designer_linkk3 }}">{{ block.settings.designer_textk3 }}</a>
           {% endfor %} 
          </li>
     <li>
          {% for block in section.blocks %}
          <a href="{{ block.settings.designer_linkk4 }}">{{ block.settings.designer_textk4 }}</a>
           {% endfor %} 
          </li>
      </ul>
</div>
<button class="accordion" id="l">l <span></span></button>
<div class="panel ll">
  <ul class="column">
         <li>
                  {% for block in section.blocks %}
          <a href="{{ block.settings.designer_linkl1 }}">{{ block.settings.designer_textl1 }}</a>
           {% endfor %}          
    </li>
        <li>
                    {% for block in section.blocks %}
          <a href="{{ block.settings.designer_linkl2 }}">{{ block.settings.designer_textl2 }}</a>
           {% endfor %} 
          </li>
    <li>
          {% for block in section.blocks %}
          <a href="{{ block.settings.designer_linkl3 }}">{{ block.settings.designer_textl3 }}</a>
           {% endfor %} 
          </li>
     <li>
          {% for block in section.blocks %}
          <a href="{{ block.settings.designer_linkl4 }}">{{ block.settings.designer_textl4 }}</a>
           {% endfor %} 
          </li>
      </ul>
</div>
<button class="accordion" id="m">m <span></span></button>
<div class="panel mm">
  <ul class="column">
         <li>
                  {% for block in section.blocks %}
          <a href="{{ block.settings.designer_linkm1 }}">{{ block.settings.designer_textm1 }}</a>
           {% endfor %}          
    </li>
        <li>
                    {% for block in section.blocks %}
          <a href="{{ block.settings.designer_linkm2 }}">{{ block.settings.designer_textm2 }}</a>
           {% endfor %} 
          </li>
    <li>
          {% for block in section.blocks %}
          <a href="{{ block.settings.designer_linkm3 }}">{{ block.settings.designer_textm3 }}</a>
           {% endfor %} 
          </li>
     <li>
          {% for block in section.blocks %}
          <a href="{{ block.settings.designer_linkm4 }}">{{ block.settings.designer_textm4 }}</a>
           {% endfor %} 
          </li>
      </ul>
</div>
<button class="accordion" id="n">n <span></span></button>
<div class="panel nn">
  <ul class="column">
         <li>
                  {% for block in section.blocks %}
          <a href="{{ block.settings.designer_linkn1 }}">{{ block.settings.designer_textn1 }}</a>
           {% endfor %}          
    </li>
        <li>
                    {% for block in section.blocks %}
          <a href="{{ block.settings.designer_linkn2 }}">{{ block.settings.designer_textn2 }}</a>
           {% endfor %} 
          </li>
    <li>
          {% for block in section.blocks %}
          <a href="{{ block.settings.designer_linkn3 }}">{{ block.settings.designer_textn3 }}</a>
           {% endfor %} 
          </li>
     <li>
          {% for block in section.blocks %}
          <a href="{{ block.settings.designer_linkn4 }}">{{ block.settings.designer_textn4 }}</a>
           {% endfor %} 
          </li>
      </ul>
</div>
<button class="accordion" id="o">o <span></span></button>
<div class="panel oo">
  <ul class="column">
         <li>
                  {% for block in section.blocks %}
          <a href="{{ block.settings.designer_linko1 }}">{{ block.settings.designer_texto1 }}</a>
           {% endfor %}          
    </li>
        <li>
                    {% for block in section.blocks %}
          <a href="{{ block.settings.designer_linko2 }}">{{ block.settings.designer_texto2 }}</a>
           {% endfor %} 
          </li>
    <li>
          {% for block in section.blocks %}
          <a href="{{ block.settings.designer_linko3 }}">{{ block.settings.designer_texto3 }}</a>
           {% endfor %} 
          </li>
     <li>
          {% for block in section.blocks %}
          <a href="{{ block.settings.designer_linko4 }}">{{ block.settings.designer_texto4 }}</a>
           {% endfor %} 
          </li>
      </ul>
</div>
<button class="accordion" id="p">p <span></span></button>
<div class="panel pp">
  <ul class="column">
         <li>
                  {% for block in section.blocks %}
          <a href="{{ block.settings.designer_linkp1 }}">{{ block.settings.designer_textp1 }}</a>
           {% endfor %}          
    </li>
        <li>
                    {% for block in section.blocks %}
          <a href="{{ block.settings.designer_linkp2 }}">{{ block.settings.designer_textp2 }}</a>
           {% endfor %} 
          </li>
    <li>
          {% for block in section.blocks %}
          <a href="{{ block.settings.designer_linkp3 }}">{{ block.settings.designer_textp3 }}</a>
           {% endfor %} 
          </li>
     <li>
          {% for block in section.blocks %}
          <a href="{{ block.settings.designer_linkp4 }}">{{ block.settings.designer_textp4 }}</a>
           {% endfor %} 
          </li>
      </ul>
</div>
<button class="accordion" id="q">q <span></span></button>
<div class="panel qq">
  <ul class="column">
         <li>
                  {% for block in section.blocks %}
          <a href="{{ block.settings.designer_linkq1 }}">{{ block.settings.designer_textq1 }}</a>
           {% endfor %}          
    </li>
        <li>
                    {% for block in section.blocks %}
          <a href="{{ block.settings.designer_linkq2 }}">{{ block.settings.designer_textq2 }}</a>
           {% endfor %} 
          </li>
    <li>
          {% for block in section.blocks %}
          <a href="{{ block.settings.designer_linkq3 }}">{{ block.settings.designer_textq3 }}</a>
           {% endfor %} 
          </li>
     <li>
          {% for block in section.blocks %}
          <a href="{{ block.settings.designer_linkq4 }}">{{ block.settings.designer_textq4 }}</a>
           {% endfor %} 
          </li>
      </ul>
</div>
<button class="accordion" id="r">r <span></span></button>
<div class="panel rr">
  <ul class="column">
         <li>
                  {% for block in section.blocks %}
          <a href="{{ block.settings.designer_linkr1 }}">{{ block.settings.designer_textr1 }}</a>
           {% endfor %}          
    </li>
        <li>
                    {% for block in section.blocks %}
          <a href="{{ block.settings.designer_linkr2 }}">{{ block.settings.designer_textr2 }}</a>
           {% endfor %} 
          </li>
    <li>
          {% for block in section.blocks %}
          <a href="{{ block.settings.designer_linkr3 }}">{{ block.settings.designer_textr3 }}</a>
           {% endfor %} 
          </li>
     <li>
          {% for block in section.blocks %}
          <a href="{{ block.settings.designer_linkr4 }}">{{ block.settings.designer_textr4 }}</a>
           {% endfor %} 
          </li>
      </ul>
</div>
<button class="accordion" id="s">s <span></span></button>
<div class="panel ss">
  <ul class="column">
         <li>
                  {% for block in section.blocks %}
          <a href="{{ block.settings.designer_links1 }}">{{ block.settings.designer_texts1 }}</a>
           {% endfor %}          
    </li>
        <li>
                    {% for block in section.blocks %}
          <a href="{{ block.settings.designer_links2 }}">{{ block.settings.designer_texts2 }}</a>
           {% endfor %} 
          </li>
    <li>
          {% for block in section.blocks %}
          <a href="{{ block.settings.designer_links3 }}">{{ block.settings.designer_texts3 }}</a>
           {% endfor %} 
          </li>
     <li>
          {% for block in section.blocks %}
          <a href="{{ block.settings.designer_links4 }}">{{ block.settings.designer_texts4 }}</a>
           {% endfor %} 
          </li>
      </ul>
</div>
<button class="accordion" id="t">t <span></span></button>
<div class="panel tt">
  <ul class="column">
         <li>
                  {% for block in section.blocks %}
          <a href="{{ block.settings.designer_linkt1 }}">{{ block.settings.designer_textt1 }}</a>
           {% endfor %}          
    </li>
        <li>
                    {% for block in section.blocks %}
          <a href="{{ block.settings.designer_linkt2 }}">{{ block.settings.designer_textt2 }}</a>
           {% endfor %} 
          </li>
    <li>
          {% for block in section.blocks %}
          <a href="{{ block.settings.designer_linkt3 }}">{{ block.settings.designer_textt3 }}</a>
           {% endfor %} 
          </li>
     <li>
          {% for block in section.blocks %}
          <a href="{{ block.settings.designer_linkt4 }}">{{ block.settings.designer_textt4 }}</a>
           {% endfor %} 
          </li>
      </ul>
</div>
<button class="accordion" id="u">u <span></span></button>
<div class="panel uu">
  <ul class="column">
         <li>
                  {% for block in section.blocks %}
          <a href="{{ block.settings.designer_linku1 }}">{{ block.settings.designer_textu1 }}</a>
           {% endfor %}          
    </li>
        <li>
                    {% for block in section.blocks %}
          <a href="{{ block.settings.designer_linku2 }}">{{ block.settings.designer_textu2 }}</a>
           {% endfor %} 
          </li>
    <li>
          {% for block in section.blocks %}
          <a href="{{ block.settings.designer_linku3 }}">{{ block.settings.designer_textu3 }}</a>
           {% endfor %} 
          </li>
     <li>
          {% for block in section.blocks %}
          <a href="{{ block.settings.designer_linku4 }}">{{ block.settings.designer_textu4 }}</a>
           {% endfor %} 
          </li>
      </ul>
</div>
<button class="accordion" id="v">v <span></span></button>
<div class="panel vv">
  <ul class="column">
         <li>
                  {% for block in section.blocks %}
          <a href="{{ block.settings.designer_linkv1 }}">{{ block.settings.designer_textv1 }}</a>
           {% endfor %}          
    </li>
        <li>
                    {% for block in section.blocks %}
          <a href="{{ block.settings.designer_linkv2 }}">{{ block.settings.designer_textv2 }}</a>
           {% endfor %} 
          </li>
    <li>
          {% for block in section.blocks %}
          <a href="{{ block.settings.designer_linkv3 }}">{{ block.settings.designer_textv3 }}</a>
           {% endfor %} 
          </li>
     <li>
          {% for block in section.blocks %}
          <a href="{{ block.settings.designer_linkv4 }}">{{ block.settings.designer_textv4 }}</a>
           {% endfor %} 
          </li>
      </ul>
</div>
<button class="accordion" id="w">w <span></span></button>
<div class="panel ww">
  <ul class="column">
         <li>
                  {% for block in section.blocks %}
          <a href="{{ block.settings.designer_linkw1 }}">{{ block.settings.designer_textw1 }}</a>
           {% endfor %}          
    </li>
        <li>
                    {% for block in section.blocks %}
          <a href="{{ block.settings.designer_linkb2 }}">{{ block.settings.designer_textw2 }}</a>
           {% endfor %} 
          </li>
    <li>
          {% for block in section.blocks %}
          <a href="{{ block.settings.designer_linkb3 }}">{{ block.settings.designer_textw3 }}</a>
           {% endfor %} 
          </li>
     <li>
          {% for block in section.blocks %}
          <a href="{{ block.settings.designer_linkb4 }}">{{ block.settings.designer_textw4 }}</a>
           {% endfor %} 
          </li>
      </ul>
</div>
<button class="accordion" id="x">x <span></span></button>
<div class="panel xx">
  <ul class="column">
         <li>
                  {% for block in section.blocks %}
          <a href="{{ block.settings.designer_linkx1 }}">{{ block.settings.designer_textx1 }}</a>
           {% endfor %}          
    </li>
        <li>
                    {% for block in section.blocks %}
          <a href="{{ block.settings.designer_linkx2 }}">{{ block.settings.designer_textx2 }}</a>
           {% endfor %} 
          </li>
    <li>
          {% for block in section.blocks %}
          <a href="{{ block.settings.designer_linkx3 }}">{{ block.settings.designer_textx3 }}</a>
           {% endfor %} 
          </li>
     <li>
          {% for block in section.blocks %}
          <a href="{{ block.settings.designer_linkx4 }}">{{ block.settings.designer_textx4 }}</a>
           {% endfor %} 
          </li>
      </ul>
</div>
<button class="accordion" id="y">y <span></span></button>
<div class="panel yy">
  <ul class="column">
         <li>
                  {% for block in section.blocks %}
          <a href="{{ block.settings.designer_linky1 }}">{{ block.settings.designer_texty1 }}</a>
           {% endfor %}          
    </li>
        <li>
                    {% for block in section.blocks %}
          <a href="{{ block.settings.designer_linky2 }}">{{ block.settings.designer_texty2 }}</a>
           {% endfor %} 
          </li>
    <li>
          {% for block in section.blocks %}
          <a href="{{ block.settings.designer_linky3 }}">{{ block.settings.designer_texty3 }}</a>
           {% endfor %} 
          </li>
     <li>
          {% for block in section.blocks %}
          <a href="{{ block.settings.designer_linky4 }}">{{ block.settings.designer_texty4 }}</a>
           {% endfor %} 
          </li>
      </ul>
</div>
<button class="accordion" id="z">z <span></span></button>
<div class="panel zz">
  <ul class="column">
         <li>
                  {% for block in section.blocks %}
          <a href="{{ block.settings.designer_linkz1 }}">{{ block.settings.designer_textz1 }}</a>
           {% endfor %}          
    </li>
        <li>
                    {% for block in section.blocks %}
          <a href="{{ block.settings.designer_linkz2 }}">{{ block.settings.designer_textz2 }}</a>
           {% endfor %} 
          </li>
    <li>
          {% for block in section.blocks %}
          <a href="{{ block.settings.designer_linkz3 }}">{{ block.settings.designer_textz3 }}</a>
           {% endfor %} 
          </li>
     <li>
          {% for block in section.blocks %}
          <a href="{{ block.settings.designer_linkz4 }}">{{ block.settings.designer_textz4 }}</a>
           {% endfor %} 
          </li>
      </ul>
</div>


  </div>
