<!-- <div class="laam-banner">
    {% for block in section-blocks %}
       
           <div class="inner-banner">
            {% if slideshow_link %}<a href="{{ slideshow_link }}">{% endif %}
            <img src="{{ slideshow_image | img_url: 'master' }}" alt="{{ slideshow_image.alt }}">
            {% if slideshow_link %}</a>{% endif %}
                                                                                
            </div> 
            <div class="mobile-view">
            {% if slideshow_link %}<a href="{{ slideshow_link }}">{% endif %}
            <img src="{{ mobile_slideshow_image | img_url: 'master' }}" alt="{{ mobile_slideshow_image.alt }}">
            {% if slideshow_link %}</a>{% endif %}
        </div>   
        {% endfor %}            
</div> -->

<div class="laam-banner">
        {% for block in section.blocks %}
       
       <div class="inner-banner">
                                                   {% if block.settings.slideshow_link %}<a href="{{ block.settings.slideshow_link }}">{% endif %}
                                                   <img src="{{ block.settings.slideshow_image | img_url: 'master' }}" alt="{{ block.settings.slideshow_image.alt }}">
                                                 {% if block.settings.slideshow_link %}</a>{% endif %}
                                                  
                                                                                  
                               </div> 
                               <div class="mobile-view">
                               {% if block.settings.slideshow_link %}<a href="{{ block.settings.slideshow_link }}">{% endif %}
                                                   <img src="{{ block.settings.mobile_slideshow_image | img_url: 'master' }}" alt="{{ block.settings.mobile_slideshow_image.alt }}">
                                                 {% if block.settings.slideshow_link %}</a>{% endif %}
                               </div>      
                                   {% endfor %}            
                                               </div>