{%- assign gutter_width = 0 -%}
{%- assign aspect_total = 0 -%}
{% if block.settings.enable_gutter %}
  {%- assign gutter_width = 1 -%}
{% endif %}
{%- assign gutter_total = gutter_width -%}
{% capture image_count %}{% if block.settings.image_1 %}+{% endif %}{% if block.settings.image_2 %}+{% endif %}{% if block.settings.image_3 %}+{% endif %}{% if block.settings.image_4 %}+{% endif %}{% endcapture %}
{%- assign image_index = 0 -%}
{%- assign enable_zoom = block.settings.enable_zoom -%}

{% comment %}
  If any image links are set, disable zoom
{% endcomment %}
{% if block.settings.image_1_link != blank or block.settings.image_2_link != blank or block.settings.image_3_link != blank or block.settings.image_4_link != blank %}
  {%- assign enable_zoom = false -%}
{% endif %}

<div class="category-products col-img 9_section page-section-sp"
  data-subsection
  data-section-id="{{ block.id }}"
  {% if enable_zoom %}
    data-section-type="photoswipe"
    data-zoom="true"
  {% endif %} style="margin-top:{{block.settings.margin_sectio}}px;margin-bottom:{{block.settings.margin_bottom}}px;">
  
  {% if block.settings.nine_title != '' %}
  <a href="{{ block.settings.nine_title_link }}">                
  <h3 class="page-section-heading">
                      <span class="inner">
                          {% if settings.language_enable %}
                              <span class="lang1">{{ block.settings.nine_title | split: '|' | first }}</span>
                              <span class="lang2">{{ block.settings.nine_title | split: '|' | last }}</span>
                          {% else %}
                              {{ block.settings.nine_title | split: '|' | first }}
                          {% endif %}
                      </span>
                  </h3>
  </a>
              {% endif %} 
  
  <ul class="products-grid columns image-row{% if block.settings.enable_gutter %} image-row--gutters{% endif %}">
    {% if block.settings.siximage_1 %}
      {%- assign image_index = image_index | plus: 1 -%}
      <li data-aos="item" class="item" >
        <div class="product-image-area  collection-img col-img">
          {% if block.settings.siximage_1_link != blank %}
            <a href="{{ block.settings.siximage_1_link }}">
          {% endif %}
          {%- assign img_url = block.settings.siximage_1 | img_url: 'master' | replace: '_1x1.', '_{width}x.' -%}
          {%- assign aspect_total = aspect_total | plus: block.settings.siximage_1.aspect_ratio -%}
          {%- assign gutter_total = gutter_total | plus: gutter_width -%}
          <img class="lazyload photoswipe__image js-photoswipe__zoom"
            data-index="{{ image_index }}"
            data-photoswipe-src="{{ block.settings.siximage_1.src | img_url: 'master' }}"
            data-photoswipe-width="{{ block.settings.siximage_1.width }}"
            data-photoswipe-height="{{ block.settings.siximage_1.height }}"
            data-src="{{ img_url }}"
            data-widths="[180, 360, 540, 720, 900, 1080, 1500]"
            data-aspectratio="{{ block.settings.siximage_1.aspect_ratio }}"
            data-sizes="auto"
            alt="{{ block.settings.siximage_1.alt }}">
          {% if block.settings.siximage_1_link != blank %}
            </a>
          {% endif %}
        </div>
      </li>
    {% endif %}
    {% if block.settings.siximage_2 %}
      {%- assign image_index = image_index | plus: 1 -%}
      <li data-aos="item" class="item">
        <div class="product-image-area  collection-img col-img">
          {% if block.settings.siximage_2_link != blank %}
            <a href="{{ block.settings.siximage_2_link }}">
          {% endif %}
          {%- assign img_url = block.settings.siximage_2 | img_url: 'master' | replace: '_1x1.', '_{width}x.' -%}
          {%- assign aspect_total = aspect_total | plus: block.settings.siximage_2.aspect_ratio -%}
          {%- assign gutter_total = gutter_total | plus: gutter_width -%}
          <img class="lazyload photoswipe__image js-photoswipe__zoom"
            data-index="{{ image_index }}"
            data-photoswipe-src="{{ block.settings.siximage_2.src | img_url: 'master' }}"
            data-photoswipe-width="{{ block.settings.siximage_2.width }}"
            data-photoswipe-height="{{ block.settings.siximage_2.height }}"
            data-src="{{ img_url }}"
            data-widths="[180, 360, 540, 720, 900, 1080]"
            data-aspectratio="{{ block.settings.siximage_2.aspect_ratio }}"
            data-sizes="auto"
            alt="{{ block.settings.siximage_2.alt }}">
          {% if block.settings.siximage_2_link != blank %}
            </a>
          {% endif %}
        </div>
      </li>
    {% endif %}
    {% if block.settings.siximage_3 %}
      {%- assign image_index = image_index | plus: 1 -%}
      <li data-aos="item" class="item">
        <div class="product-image-area  collection-img col-img">
          {% if block.settings.siximage_3_link != blank %}
            <a href="{{ block.settings.siximage_3_link }}">
          {% endif %}
          {%- assign img_url = block.settings.siximage_3 | img_url: 'master' | replace: '_1x1.', '_{width}x.' -%}
          {%- assign aspect_total = aspect_total | plus: block.settings.siximage_3.aspect_ratio -%}
          {%- assign gutter_total = gutter_total | plus: gutter_width -%}
          <img class="lazyload photoswipe__image js-photoswipe__zoom"
            data-index="{{ image_index }}"
            data-photoswipe-src="{{ block.settings.siximage_3.src | img_url: 'master' }}"
            data-photoswipe-width="{{ block.settings.siximage_3.width }}"
            data-photoswipe-height="{{ block.settings.siximage_3.height }}"
            data-src="{{ img_url }}"
            data-widths="[180, 360, 540, 720, 900, 1080]"
            data-aspectratio="{{ block.settings.siximage_3.aspect_ratio }}"
            data-sizes="auto"
            alt="{{ block.settings.siximage_3.alt }}">
          {% if block.settings.siximage_3_link != blank %}
            </a>
          {% endif %}
        </div>
      </li>
    {% endif %}
    {% if block.settings.siximage_4 %}
      {%- assign image_index = image_index | plus: 1 -%}
      <li data-aos="item" class="item">
        <div class="product-image-area  collection-img col-img">
          {% if block.settings.siximage_4_link != blank %}
            <a href="{{ block.settings.siximage_4_link }}">
          {% endif %}
          {%- assign img_url = block.settings.siximage_4 | img_url: 'master' | replace: '_1x1.', '_{width}x.' -%}
          {%- assign aspect_total = aspect_total | plus: block.settings.siximage_4.aspect_ratio -%}
          {%- assign gutter_total = gutter_total | plus: gutter_width -%}
          <img class="lazyload photoswipe__image js-photoswipe__zoom"
            data-index="{{ image_index }}"
            data-photoswipe-src="{{ block.settings.siximage_4.src | img_url: 'master' }}"
            data-photoswipe-width="{{ block.settings.siximage_4.width }}"
            data-photoswipe-height="{{ block.settings.siximage_4.height }}"
            data-src="{{ img_url }}"
            data-widths="[180, 360, 540, 720, 900, 1080]"
            data-aspectratio="{{ block.settings.siximage_4.aspect_ratio }}"
            data-sizes="auto"
            alt="{{ block.settings.siximage_4.alt }}">
          {% if block.settings.siximage_4_link != blank %}
            </a>
          {% endif %}
        </div>
      </li>
    {% endif %}
     {% if block.settings.siximage_5 %}
      {%- assign image_index = image_index | plus: 1 -%}
      <li data-aos="item" class="item">
        <div class="product-image-area  collection-img col-img">
          {% if block.settings.siximage_5_link != blank %}
            <a href="{{ block.settings.siximage_5_link }}">
          {% endif %}
          {%- assign img_url = block.settings.siximage_5 | img_url: 'master' | replace: '_1x1.', '_{width}x.' -%}
          {%- assign aspect_total = aspect_total | plus: block.settings.siximage_5.aspect_ratio -%}
          {%- assign gutter_total = gutter_total | plus: gutter_width -%}
          <img class="lazyload photoswipe__image js-photoswipe__zoom"
            data-index="{{ image_index }}"
            data-photoswipe-src="{{ block.settings.image_5.src | img_url: 'master' }}"
            data-photoswipe-width="{{ block.settings.siximage_5.width }}"
            data-photoswipe-height="{{ block.settings.siximage_5.height }}"
            data-src="{{ img_url }}"
            data-widths="[180, 360, 540, 720, 900, 1080]"
            data-aspectratio="{{ block.settings.siximage_5.aspect_ratio }}"
            data-sizes="auto"
            alt="{{ block.settings.siximage_5.alt }}">
          {% if block.settings.siximage_5_link != blank %}
            </a>
          {% endif %}
        </div>
      </li>
    {% endif %}
     {% if block.settings.siximage_6 %}
      {%- assign image_index = image_index | plus: 1 -%}
      <li data-aos="item" class="item">
        <div class="product-image-area  collection-img col-img">
          {% if block.settings.siximage_6_link != blank %}
            <a href="{{ block.settings.siximage_6_link }}">
          {% endif %}
          {%- assign img_url = block.settings.siximage_6 | img_url: 'master' | replace: '_1x1.', '_{width}x.' -%}
          {%- assign aspect_total = aspect_total | plus: block.settings.siximage_6.aspect_ratio -%}
          {%- assign gutter_total = gutter_total | plus: gutter_width -%}
          <img class="lazyload photoswipe__image js-photoswipe__zoom"
            data-index="{{ image_index }}"
            data-photoswipe-src="{{ block.settings.siximage_6.src | img_url: 'master' }}"
            data-photoswipe-width="{{ block.settings.siximage_6.width }}"
            data-photoswipe-height="{{ block.settings.siximage_6.height }}"
            data-src="{{ img_url }}"
            data-widths="[180, 360, 540, 720, 900, 1080]"
            data-aspectratio="{{ block.settings.siximage_6.aspect_ratio }}"
            data-sizes="auto"
            alt="{{ block.settings.siximage_6.alt }}">
          {% if block.settings.siximage_6_link != blank %}
            </a>
          {% endif %}
        </div>
      </li>
    {% endif %}
     {% if block.settings.siximage_7 %}
      {%- assign image_index = image_index | plus: 1 -%}
      <li data-aos="item" class="item">
        <div class="product-image-area  collection-img col-img">
          {% if block.settings.siximage_7_link != blank %}
            <a href="{{ block.settings.siximage_7_link }}">
          {% endif %}
          {%- assign img_url = block.settings.siximage_7 | img_url: 'master' | replace: '_1x1.', '_{width}x.' -%}
          {%- assign aspect_total = aspect_total | plus: block.settings.siximage_7.aspect_ratio -%}
          {%- assign gutter_total = gutter_total | plus: gutter_width -%}
          <img class="lazyload photoswipe__image js-photoswipe__zoom"
            data-index="{{ image_index }}"
            data-photoswipe-src="{{ block.settings.siximage_7.src | img_url: 'master' }}"
            data-photoswipe-width="{{ block.settings.siximage_7.width }}"
            data-photoswipe-height="{{ block.settings.siximage_7.height }}"
            data-src="{{ img_url }}"
            data-widths="[180, 360, 540, 720, 900, 1080]"
            data-aspectratio="{{ block.settings.siximage_7.aspect_ratio }}"
            data-sizes="auto"
            alt="{{ block.settings.siximage_7.alt }}">
          {% if block.settings.siximage_7_link != blank %}
            </a>
          {% endif %}
        </div>
      </li>
    {% endif %}
     {% if block.settings.siximage_8 %}
      {%- assign image_index = image_index | plus: 1 -%}
      <li data-aos="item" class="item">
        <div class="product-image-area  collection-img col-img">
          {% if block.settings.siximage_8_link != blank %}
            <a href="{{ block.settings.siximage_8_link }}">
          {% endif %}
          {%- assign img_url = block.settings.siximage_8 | img_url: 'master' | replace: '_1x1.', '_{width}x.' -%}
          {%- assign aspect_total = aspect_total | plus: block.settings.siximage_8.aspect_ratio -%}
          {%- assign gutter_total = gutter_total | plus: gutter_width -%}
          <img class="lazyload photoswipe__image js-photoswipe__zoom"
            data-index="{{ image_index }}"
            data-photoswipe-src="{{ block.settings.siximage_8.src | img_url: 'master' }}"
            data-photoswipe-width="{{ block.settings.siximage_8.width }}"
            data-photoswipe-height="{{ block.settings.siximage_8.height }}"
            data-src="{{ img_url }}"
            data-widths="[180, 360, 540, 720, 900, 1080]"
            data-aspectratio="{{ block.settings.siximage_8.aspect_ratio }}"
            data-sizes="auto"
            alt="{{ block.settings.siximage_8.alt }}">
          {% if block.settings.siximage_8_link != blank %}
            </a>
          {% endif %}
        </div>
      </li>
    {% endif %}
     {% if block.settings.siximage_9 %}
      {%- assign image_index = image_index | plus: 1 -%}
      <li data-aos="item" class="item">
        <div class="product-image-area  collection-img col-img">
          {% if block.settings.siximage_9_link != blank %}
            <a href="{{ block.settings.siximage_9_link }}">
          {% endif %}
          {%- assign img_url = block.settings.siximage_9 | img_url: 'master' | replace: '_1x1.', '_{width}x.' -%}
          {%- assign aspect_total = aspect_total | plus: block.settings.siximage_9.aspect_ratio -%}
          {%- assign gutter_total = gutter_total | plus: gutter_width -%}
          <img class="lazyload photoswipe__image js-photoswipe__zoom"
            data-index="{{ image_index }}"
            data-photoswipe-src="{{ block.settings.siximage_9.src | img_url: 'master' }}"
            data-photoswipe-width="{{ block.settings.siximage_9.width }}"
            data-photoswipe-height="{{ block.settings.siximage_9.height }}"
            data-src="{{ img_url }}"
            data-widths="[180, 360, 540, 720, 900, 1080]"
            data-aspectratio="{{ block.settings.siximage_9.aspect_ratio }}"
            data-sizes="auto"
            alt="{{ block.settings.siximage_9.alt }}">
          {% if block.settings.siximage_9_link != blank %}
            </a>
          {% endif %}
        </div>
      </li>
    {% endif %}
  </ul>
</div>

{%- assign images_width = 100.0 | minus: gutter_total -%}
{% style %}
  .image-row-{{ block.id }}--1 {
    margin: 0 0 {{ gutter_width }}% {{ gutter_width }}%;
    width: {{ block.settings.image_1.aspect_ratio | divided_by: aspect_total | times: images_width }}% !important;
  }
  .image-row-{{ block.id }}--1:after {
    padding-bottom: {{ 100 | divided_by: block.settings.image_1.aspect_ratio }}%;
  }
  .image-row-{{ block.id }}--2 {
    margin: 0 0 {{ gutter_width }}% {{ gutter_width }}%;
    width: {{ block.settings.image_2.aspect_ratio | divided_by: aspect_total | times: images_width }}% !important;
  }
  .image-row-{{ block.id }}--2:after {
    padding-bottom: {{ 100 | divided_by: block.settings.image_2.aspect_ratio }}%;
  }
  .image-row-{{ block.id }}--3 {
    margin: 0 0 {{ gutter_width }}% {{ gutter_width }}%;
    width: {{ block.settings.image_3.aspect_ratio | divided_by: aspect_total | times: images_width }}% !important;
  }
  .image-row-{{ block.id }}--3:after {
    padding-bottom: {{ 100 | divided_by: block.settings.image_3.aspect_ratio }}%;
  }
  .image-row-{{ block.id }}--4 {
    margin: 0 0 {{ gutter_width }}% {{ gutter_width }}%;
    width: {{ block.settings.image_4.aspect_ratio | divided_by: aspect_total | times: images_width }}% !important;
  }
  .image-row-{{ block.id }}--4:after {
    padding-bottom: {{ 100 | divided_by: block.settings.image_4.aspect_ratio }}%;
  }
{% endstyle %}
